#home {
	background: #ffc107;
	color: white;
}

.caixa{
	padding: 60px 0;
	border-bottom:1px solid #e5e5e5 ;
}


footer p a{
	margin: 5px 15px;
}

#nav-principal{
	margin-top: -40px ;

}

.navbar-brand img{
	margin-top: -38px;
	margin-left: -35px;

}